html {
    background-color: #000;
    color: #fff;
}

.paddle {
  background-color: white;
}

.ball {
  background-color: white;
  border-radius: 13px;
}

.board {
  border: 2px solid white;
}

body {
  font-family: 'new rocker', cursive;
}

.info {
  color: white;
}

.title, .subTitle {
  font-weight: 800;
  font-size: 64px;
}

.subTitle {
  font-size: 48px;
}

.score {
  font-weight: 800;
  font-size: 48px;
}

.small {
  padding-left: 10px;
  padding-top: 20px;
  font-size: 24px;
}

a:link {
  text-decoration:none;
  color:white;
}
a:visited {
  text-decoration:none;
  color:white;
}
a:hover {
  text-decoration:none;
  color:white;
  cursor: pointer;
}
a:active {
  text-decoration:none;
  color:white;
}
